@import "variables";
@import "mixins";
@import "global";
@import "masthead";
@import "sidebar";
@import "services";
@import "callout";
@import "portfolio";
@import "map";
@import "footer";
@import "bootstrap-overrides";


.alpha {
  background-color: $gray-600;

}
 
.btn1 {
  background-color: $gray-600;
  color: black;
}